@font-face {
  font-family: mono;
  src: url("fonts/AzeretMono-VariableFont_wght.ttf");
}

body {
  background: #020202;
}

h1 {
  font-family: mono;
  font-size: 2em;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
}

.grid-item {
  border-color: #fc2600;
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
