@font-face{
    font-family: mono;
    src: url('fonts/AzeretMono-VariableFont_wght.ttf')
}

body {
	background: #020202
}



canvas{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
 }

.logo {
    display: flex;
    padding: auto;
    justify-content: center;
	padding-bottom: 80px;
  }

.imgButton{
    cursor: pointer;
}

.container {
	position: absolute;
  }

.typewriter {
	display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 0;
}

.name_title {
    font-family: mono;
    font-size: 128px;
    color: #475EFF;
    margin-top: 4rem;
    text-align: center;
    position: relative;
}
h1 {
	font-family: mono;
	font-size: 128px;
	color: #475EFF;
	margin-top: 4rem;
	text-align: center;
	position: relative;
}

